In [2]:
import pandas as pd
import json
import matplotlib.pyplot as plt

In [8]:
with open('../../dataset/iwildcam2020_train_annotations.json', encoding='utf-8') as json_file:
    train_annotations_2020_json = json.load(json_file)
train_annotations_2019 = pd.read_csv('../../dataset/train_2019.csv')

In [62]:
df_categories = pd.DataFrame(train_annotations_json["categories"])
df_annotations = pd.DataFrame(train_annotations_json["annotations"])

# COUNT WITH CATEGORIES (JSON SECTION)

In [61]:
ordered_count = df_categories["count"].sort_values(ascending=False)

##### 20 top populated categories

In [58]:
ordered_count.tail(20)

115    1
116    1
134    1
253    1
117    1
217    1
220    1
118    1
208    1
260    0
261    0
160    0
225    0
211    0
128    0
203    0
172    0
59     0
158    0
101    0
Name: count, dtype: int64

##### 20 least populated categories

In [50]:
ordered_count.head(20)

0      78981
36     33313
188    16713
189    12908
146     9052
48      8517
1       6355
2       5833
8       5824
32      5118
187     4542
238     4477
4       4453
17      4099
195     3921
44      3614
191     3452
65      3426
223     3120
190     2959
Name: count, dtype: int64

In [24]:
df_categories["count"].max()

78981

In [26]:
df_categories["count"].mean()

1026.1685393258426

In [28]:
df_categories["count"].median()

33.0

# COUNT WITH ANNOTATION ( JSON SECTION )

In [69]:
ordered_count_annot = df_annotations['category_id'].value_counts()

In [77]:
ordered_count_annot.head(50)

0      74217
372    16713
374    12908
96      8517
317     7514
2       6270
3       5833
10      5632
71      5118
371     4542
6       4368
24      3922
380     3921
90      3614
376     3452
115     3426
558     3120
375     2959
79      2500
111     2297
91      2186
243     1937
110     1755
112     1499
240     1366
378     1343
379     1300
315     1254
316     1193
8       1181
384     1119
99      1099
259     1015
137     1006
26       970
318      934
144      887
321      770
258      620
139      570
78       562
256      545
290      520
116      513
245      510
103      449
50       443
566      380
12       350
97       338
Name: category_id, dtype: int64

In [76]:
ordered_count_annot.tail(50)

405    6
352    6
356    6
106    6
89     6
133    6
80     6
166    6
273    6
324    6
323    6
175    5
25     5
413    5
16     4
307    4
419    3
119    3
130    3
44     3
418    3
415    3
322    3
20     3
333    3
341    3
332    3
342    3
77     3
355    3
92     3
330    3
257    2
412    2
235    2
407    2
406    2
408    1
402    1
251    1
250    1
296    1
114    1
420    1
252    1
349    1
306    1
417    1
229    1
253    1
Name: category_id, dtype: int64

In [75]:
ordered_count_annot.max()

74217

In [73]:
ordered_count_annot.mean()

1009.0694444444445

In [74]:
ordered_count_annot.median()

32.0

### compare categories 2019 And 2020

In [ ]:
df_categories_2020 = pd.DataFrame(train_annotations_json["categories"])

In [12]:
train_annotations_2019["category_id"]

0         19
1         19
2          0
3          0
4          0
          ..
196294     0
196295     0
196296     4
196297     0
196298     0
Name: category_id, Length: 196299, dtype: int64